.hero-image {
	background-image: url("../images/cupcakeheroimage.png");
	padding: 8rem 0;
	background-size: cover;
	background-position: center center;
	
	
}


.hero-image h1 {
	text-align: center;
	font-size: 50px;
	margin-bottom: 8rem;
	margin-top: -2rem;
	color: #9d5a4f;
	text-shadow: 3px 3px 3px #f2d9be;
	font-family: 'Gloria Hallelujah', cursive;
}

.hero-image h2 {
	text-align: center;
	font-size: 30px;
	padding-top: 8rem;
	color: #9d5a4f;
	text-shadow: 3px 3px 3px #f2d9be;
	font-family: 'Gloria Hallelujah', cursive;
	
}



/* Smaller Phone CSS Adjustment */
@media only screen 
  and (max-width: 320px) {

	  

	  body h1 {
		font-size: 35px;
	}

	.social {
		color: darkgray;
	}

	.social:hover {
		color: lightblue;
	}
	  
}




/* Position the image container (needed to position the left and right arrows) */
.container {
	position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
	display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
	cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* Container for image text */
  .caption-container {
	border-radius: 5px;
	text-align: center;
	background-color: #9d5a4f;
	padding: 3px 16px;
	color: black;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Six columns side by side */
  .column {
	float: left;
	width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
	opacity: 0.6;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }













/* Phone CSS Adjustment */
@media only screen 
  and (min-width: 320px) {
	  

}






/* Tablet CSS Adjustment */
@media only screen 
  and (min-width: 768px) {
	

	body h1 {
		font-size: 50px;
	}

}




/* Laptop and bigger Adjustment */

@media screen 
  and (min-width: 1200px) { 
	

	body h1 {
		font-size: 50px;
	}

}